* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header, .hero-section, footer {
    background: #1f2937;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 837px;
    padding: 10px 15%;
}

header div {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

nav a {
    font-size: 18px;
    color: #E5E7Eb;
    text-decoration: none;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.hero-section,
.information-section,
.quote-section {
    flex: 3 1 0;
}

.sign-up-section {
    flex: 2 1 0;
}

/* HERO-SECTION */

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: auto;
    padding: 0 15%;
}

.hero-text-and-button-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: stretch;
    align-items: flex-start;
    height: fit-content;
    min-width: 460px;
    max-width: 560px;
    margin: 10% 0;
    gap: 10px;
}

.hero-text-and-button-container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text-and-button-container p {
    font-size: 18px;
    color: #E5E7Eb;
}

.hero-text-and-button-container button {
    background: #3882f6;
    color: #f8FaF8;
    padding: 5px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
}

.hero-section-image-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-width: 355.55px;
}

.hero-section img {
    height: 100%;
    width: auto;
}

/* .INFORMATION-SECTION */

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
}

.information-section h2 {
    display: block;
    padding: 30px 0;
    width: fit-content;
    font-size: 36px;
    font-weight: 900px;
    color: #1F2837;
}

.image-group-flex-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.image-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid #3882f6;
}

.image-flex-container img {
    max-height: 100px;
    width: 100%;
}

.image-flex-container p {
    display: block;
    text-align: center;
    width: fit-content;
}